<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="DoubleCache" version="1.6.0" targetFramework="net452" />
  <package id="IQ.Platform.Framework.Common" version="3.26.0" targetFramework="net452" />
  <package id="MsgPack.Cli" version="0.6.5" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net452" />
</packages>