<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="IQ.CQS.IncludeExceptionLoggingInterceptor" value="true" />
		<add key="IQ.CQS.IncludePerformanceMetricsLoggingInterceptor" value="true" />
		<add key="IQ.CQS.IncludeQueryResultCachingInterceptor" value="true" />
		<add key="IQ.CQS.CacheType" value="Local" /> <!-- supported values are 'None', 'Local' -->
		<add key="IQ.CQS.IncludeTransactionScopeInterceptor" value="true" />
	</appSettings>
</configuration>